Repository jvilimek/labeler-tests, changes with the labels that .github/labeler.yml gives for each.
All labels: github-internals, sample-service

Create README.md
  services/SampleService/README.md
Labels: sample-service

Create labeler.yml
  .github/workflows/labeler.yml
Labels: github-internals

Update README.md
  services/SampleService/README.md
Labels: sample-service

Update labeler.yml
  .github/workflows/labeler.yml
Labels: github-internals

Update README.md
  README.md
Labels: none

Update labeler.yml
  .github/workflows/labeler.yml
Labels: github-internals

Update README.md
  services/SampleService/README.md
Labels: sample-service

Create circle-ci-workflow-gate.yml
  .github/workflows/circle-ci-workflow-gate.yml
Labels: github-internals

Update README.md
  services/SampleService/README.md
Labels: sample-service

Create circle-ci-workflow-gate2
  .github/workflows/circle-ci-workflow-gate2
Labels: github-internals

Update README.md
  services/SampleService/README.md
Labels: sample-service

Rename circle-ci-workflow-gate2 to circle-ci-workflow-gate2.yml
  .github/workflows/circle-ci-workflow-gate2.yml
Labels: github-internals

.github/labeler.yml:

# Patterns in this file will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see: https://github.com/actions/labeler

github-internals:
  - changed-files:
    - any-glob-to-any-file: .github/**/*
sample-service:
  - changed-files:
    - any-glob-to-any-file: services/SampleService/**/*
